<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>transactServlet</servlet-name>
        <servlet-class>com.bank.servlets.transactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transferAmount</servlet-name>
        <servlet-class>com.bank.servlets.transferAmount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transferAmountServlet</servlet-name>
        <servlet-class>com.bank.servlets.transferAmountServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>transactServlet</servlet-name>
        <url-pattern>/transactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transferAmount</servlet-name>
        <url-pattern>/transferAmount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transferAmountServlet</servlet-name>
        <url-pattern>/transferAmountServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
